<div>
    <header class="header" wmAnimate="landing" aos speed="normal">
      <a href="" class="logo">
        <span class="grey-color"> &lt;</span>
        <span class="logo-name">{{username}}</span>
        <span class="grey-color">/&gt;</span>
      </a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
      </label>
      <ul class="menu">
        <li *ngFor="let item of navigationItems">
          <a [href]="item.href">{{item.label}}</a>
        </li>
      </ul>
    </header>
  </div>
  